<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
<context:property-placeholder location="classpath:properties"/>
	
    <!-- Define your beans here -->
    
    <!-- define the dependency -->
    <!--  
    <bean id="myFortuneService"
    		class="com.luv2code.springdemo.HappyFortuneService">
    	</bean>
    -->
 	<bean id="myCoach"
 		class="com.springLearning1.springLearning.TrackCoach">	 		
 	</bean>

    
    <bean id="myCoach1"
        class="com.springLearning1.springLearning.BaseballCoach"
        >
        <constructor-arg ref="myFortune"></constructor-arg>  
        <property name="emailAddress" value="${email}"></property>       
        <property name="password" value="${password}"></property>
    </bean>
    <bean id="myFortune"
    class="com.springLearning1.springLearning.HappyFortune">
    </bean>
    
    

</beans>





